.technic {
  &__wrapper {
    margin-bottom: 24px;
  }
  &__item-wrapper {
    position: relative;
    width: 238px;
    height: 160px;
    background-color: $color-white;
    border: 1px solid #eaeaea;
    border-radius: 6px;
  }
  &__item-btn {
    position: absolute;
    transform: translate(185px, 105px);
    border: none;
    background-color: $color-white;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__item-btn:hover {
    opacity: 0.4;
  }
  &__item-title {
    position: absolute;
    transform: translate(16px, 15px);
    font-weight: $medium;
    font-size: $size-title;
  }
  &__btn {
    display: none;
  }
}

@media (min-width: $screen-768) {
  .technic {
    &__wrapper {
      margin-bottom: 32px;
    }
    &__item-wrapper {
      width: 222px;
    }
    &__item-btn {
      transform: translate(165px, 105px);
    }
    &__btn {
      display: block;
      border: none;
      background-color: #f8f8f8;
      display: flex;
      gap: 8px;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      &-ico--rotate {
        transform: rotateX(180deg);
      }
    }
    &__btn-text {
      font-family: $font-family;
      font-size: $size-title;
      font-weight: $medium;
      color: $text-color;
    }
  }
  .js-slider-technic {
    &__wrapper {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      gap: 16px 24px;
      height: 140px;
      margin-bottom: 24px;
    }
    &__wrapper--open {
      transition: height 0.6s ease;
      height: 315px;
      margin-bottom: 45px;
    }
    &__wrapper--close {
      transition: height 0.6s ease;
      height: 140px;
    }
  }
}

@media (min-width: $screen-1120) {
  .technic {
    &__wrapper {
      margin-bottom: 50px;
    }
    &__item-wrapper {
      width: 238px;
    }
  }
  .js-slider-technic {
    &__wrapper {
      column-gap: 32px;
    }
  }
}
