$text-color: #1b1c21;
$color-grey: #7e7e82;
$size-text: 14px;
$size-title: 16px;
$font-family: 'TTLakes';
$color-main: #f8f8f8;
$color-white: #fff;
$color-pink: #ff3e79;
$color-border: #d9fff5;
$regular: 400;
$medium: 500;
$bold: 700;
$screen-768: 768px;
$screen-1120: 1120px;
$screen-1366: 1366px;
$screen-1440: 1440px;
